<div class="flex flex-column lg:flex-row w-screen h-screen pt-6">
  <div class="image-background hidden lg:flex lg:w-8 lg:h-min">
    <p-image width="100%" src="assets/login-image.png" />
  </div>
  <div class="flex flex-column w-full lg:w-6 justify-content-center mx-auto px-4 lg:px-8">
    <p class="text-4xl">Log in to Exclusive</p>
    <p class="mt-4">Enter your details below</p>
    <input placeholder="Email or Phone Number" pInputText class="mt-5 border-noround border-none border-bottom-1" />
    <input placeholder="Password" pInputText class="mt-5 border-noround border-none border-bottom-1" />
    <div class="mt-5 flex flex-row justify-content-between">
      <button pButton class="red-button-bg border-none">Log in</button>
      <button pButton class="surface-card red-button-text border-none">Forget Password?</button>
    </div>
  </div>
</div>
